/onedrive/population/Datathon*
# Has a sql file. Not including just in case.

.DS_Store
*.xlsx
*.png
*~
MRN_Formatted
onedrive/Working/Final Data/Patient*
*.docx
.Rapp.history
.here
sample.csv
output.txt
.Rproj.user
sample 2.csv
.Rhistory
*.tex
*.log
*.aux
*.html
*.pdf
Untitled*
.ipynb_checkpoints/
main.ipynb
Progress Notes File.csv
