/onedrive/population/Datathon*
# Has a sql file. Not including just in case.

.DS_Store
*.xlsx
*.png
*~
MRN_Formatted
onedrive/Working/Final Data/Patient*
*.docx
.Rapp.history
.here
output.txt
.Rproj.user
.Rhistory
*.tex
*.log
*.aux
*.html
*.pdf
Untitled*
.ipynb_checkpoints/
main.ipynb
*.csv
.RData

!main-2022-04-20.pdf
!results-2022-04-20.pdf
!misc-results-2022-04-20.pdf

*.pptx
